<footer class="container py-2" style="background-color: #089784;">
    <div class="text-center py-2">
        <p class="fs-4 my-auto">Creado por Esteban Hernández</p>
    </div>
    <div class="row mx-2 mx-md-4 mx-xl-5 pb-2">
        <div class="d-inline-block col-6 mx-auto text-center display-6">
            <a href="https://www.linkedin.com/in/esteban-hern%C3%A1ndez-c%C3%A1ceres-979a46208/" target="_blank"
                class="footer-ico mx-2" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Esteban Hernández Cáceres Linkedin"><i class="fa-brands fa-linkedin footer-ico"></i>
            </a>
            <a href="https://github.com/stivhc" target="_blank" class="footer-ico mx-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Esteban Hernández Cáceres GitHub"><i class="fa-brands fa-github-square footer-ico"></i>
            </a>
        </div>
    </div>
</footer>