{% extends 'base.html' %} {% block 'contenido' %}

<div class="container p-5">
  {% if messages %} {% for message in messages %}
  <div class="mb-4 fs-3 alert alert-dark {{message.tags}}">{{ message }}</div>
  {% endfor %} {% endif %}
  <div class="shadow p-3 informacion rounded" style="background-color: #ffc107;">
    <p class="mb-1 fs-3">Nuestros flanes</p>
    <p class="fs-6">
      Buscamos los secretos mejor guardados de nuestras abuelas para entregarte
      los mejores flanes.
    </p>
    <a
      role="button"
      class="btn boton-sesion px-0 fs-5"
      href="{% url 'web:acerca' %}"
      >Conócenos</a
    >
  </div>
  <div class="row">
    {% for flan in flanes %}

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-5 mb-2">
      <div class="card shadow">
        <img src="{{ flan.image_url }}" class="img-fluid" alt="Al rico flan" />
        <div class="card-body">
          <h5 class="card-title" id="hola">{{ flan.name }}</h5>
          <p class="card-text">{{ flan.description }}</p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock 'contenido' %}
